@use 'variables';

main {
    background-color: variables.$mainDark;
}

.titulo-pagina {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: variables.$fontAlfa;
    font-size: 4em;
    font-style: italic;
    color: variables.$mainLight;
}

.comidas-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .card-comidas {
        background-color: variables.$subDark;
        border: 2px solid variables.$mainYellow;
        border-radius: 5px;
        width: 250px;
        height: 400px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: space-between;
        margin-bottom: 20px;
        padding: 10px;
        position: relative;
        text-align: center;

        &:hover {
            box-shadow: 0 2px 30px 0 variables.$mainRed, 0 2px 30px 0 variables.$mainYellow;
            transform: scale3d(1.1, 1.1, 0.3);
        }

        .comidas-img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
            border: 2px solid variables.$mainDark;
        }

        .comidas-info {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 50px 100px;
            justify-items: center;
            align-items: center;
            grid-template-areas: 
                "titulo"
                "precio"
                "verdetalle";

            .comidas-nombre {
                grid-area: titulo;
                color: variables.$mainLight;
                font-family: variables.$fontTeko;
                font-size: 1.9em;
                margin-top: 10px;
                text-transform: uppercase;
            }

            .comidas-precio {
                grid-area: precio;
                text-align: center;
                color: variables.$mainYellow;
                font-family: variables.$fontArchivo;
                font-size: 1.5em;
                text-shadow: 2px 2px 2px variables.$mainDark;
            }

            .comidas-boton-detalle {
                grid-area: verdetalle;
                background-color: variables.$mainRed;
                border: 2px solid variables.$mainYellow;
                border-radius: 5px;
                color: variables.$mainLight;
                cursor: pointer;
                font-family: variables.$fontKanit;
                font-size: 15px;
                text-align: center;
                margin-bottom: 10px;
                padding: 10px 20px;
                transition: .5s, color .10s;
                text-transform: uppercase;

                &:active {
                    transform: translate(0px, 2px);
                    box-shadow: 0px 1px 0px variables.$mainRed;
                }
            }
        }
    }
}

.comida-detalle-container {
    .comida-detalle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        gap: 30px;

        .comida-detalle-imagen {
            width: 40%;
            border-radius: 5px;
            border: 2px solid variables.$mainYellow;
            margin-left: 30px;
        }

        .comida-detalle-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            padding-right: 20px;

            .comida-detalle-titulo {
                color: variables.$mainYellow;
                font-family: variables.$fontAlfa;
                font-size: 3em;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-align: center;
            }

            .comida-detalle-descripcion {
                color: variables.$mainLight;
                font-family: variables.$fontOswald;
                font-size: 2em;
                font-style: italic;
                text-align: center;
            }

            .comida-detalle-precio {
                color: variables.$mainRed;
                font-family: variables.$fontArchivo;
                font-size: 3em;
                text-align: center;
            }

            .cantidad-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .cantidad-inner-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 50px;

                    .restar-cantidad,
                    .sumar-cantidad {
                        background-color: transparent;
                        border: none;
                        color: variables.$mainYellow;
                        font-size: 1.25em;
                        cursor: pointer;

                        &:active {
                            color: variables.$mainRed;
                        }
                    }
        
                    .cantidad-comida {
                        font-family: variables.$fontArchivo;
                        font-size: 2.5em;
                        color: variables.$mainLight;
                        margin: 0 20px;
                    }
                }

                .boton-compra {
                    background-color: variables.$mainRed;
                    border: 2px solid variables.$mainYellow;
                    border-radius: 5px;
                    color: variables.$mainLight;
                    cursor: pointer;
                    font-family: variables.$fontArchivo;
                    font-size: 1.25em;
                    text-align: center;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.carrito-container {
    background-color: variables.$mainDark;

    .carrito-header {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: variables.$fontAlfa;
        font-size: 4em;
        font-style: italic;
        color: variables.$mainLight;
    }

    .carrito-info {
        .carrito-info-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            .carrito-info-img {
                width: 15%;
                border: 2px solid variables.$mainYellow; 
            }
    
            .carrito-info-titulo {
                color: variables.$mainLight;
                font-family: variables.$fontStaat;
                font-size: 2.2em;
                width: 40%;
                text-align: center;
                padding-left: 10px;
            }
    
            .carrito-info-cantidad {
                text-transform: uppercase;
                color: variables.$mainLight;
                font-family: variables.$fontRubik;
                font-size: 2em;
                width: 20%;
                text-align: center;
            }

            .carrito-info-precio {
                color: variables.$mainLight;
                font-family: variables.$fontArchivo;
                font-size: 2em;
                text-align: center;
                width: 15%;
            }
    
            .eliminar-item {
                background-color: transparent;
                border: none;
                color: variables.$mainRed;
                font-size: 30px;
                cursor: pointer;
                width: 10%;
                padding-bottom: 20px;
    
                &:active {
                    color: variables.$mainLight;
                }
            }
        }
    }

    .carrito-footer {
        .carrito-footer-lleno {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;

            .boton-vaciar {
                width: 350px;
                height: 40px;
                background-color: variables.$mainRed;
                border: none;
                border-radius: 50px;
                color: variables.$mainLight;
                font-family: variables.$fontStaat;
                font-size: 1.3em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                margin-bottom: 20px;

                &:active {
                    color: variables.$subDark;
                    background-color: variables.$mainLight;
                }
            }

            .total-carrito {
                color: variables.$mainYellow;
                font-family: variables.$fontBebas;
                font-size: 3em;
            }

            .boton-finalizar {
                text-decoration: none;
                width: 350px;
                height: 40px;
                background-color: variables.$mainGreen;
                border: none;
                border-radius: 50px;
                color: variables.$subDark;
                font-family: variables.$fontStaat;
                font-size: 1.3em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                margin-bottom: 20px;

                &:active {
                    color: variables.$subDark;
                    background-color: variables.$mainLight;
                }
            }
        }

        .carrito-footer-vacio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .carrito-vacio-texto {
                text-transform: uppercase;
                color: variables.$mainLight;
                font-family: variables.$fontVT;
                font-size: 6em;
                text-align: center;
                padding: 10px;
            }

            .carrito-vacio-img {
                color: variables.$mainRed;
                font-size: 4em;
                padding-bottom: 20px;
            }

            .boton-volver {
                text-decoration: none;
                width: 350px;
                height: 60px;
                background-color: variables.$mainYellow;
                border: none;
                border-radius: 50px;
                color: variables.$subDark;
                font-family: variables.$fontStaat;
                font-size: 1.75em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                margin-top: 50px;
                margin-bottom: 30px;

                &:active {
                    color: variables.$subDark;
                    background-color: variables.$mainLight;
                }
            }
        }
    }
}

.formulario-container {
    background-color: variables.$mainDark;

    .formulario-titulo {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: variables.$fontAlfa;
        font-size: 4em;
        font-style: italic;
        color: variables.$mainLight;
    }

    .formulario-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .form-floating {
            font-family: variables.$fontStaat;

            input {
                font-size: 1.5em;
            }
        }

        .btn {
            text-decoration: none;
            width: 350px;
            height: 60px;
            background-color: variables.$mainGreen;
            border: none;
            border-radius: 50px;
            color: variables.$subDark;
            font-family: variables.$fontStaat;
            font-size: 1.75em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            cursor: pointer;
            margin-top: 50px;
            margin-bottom: 30px;

            &:active {
                color: variables.$subDark;
                background-color: variables.$mainLight;
            }
        }
    }
}

.compra-exitosa-container {
    background-color: variables.$mainDark;

    .compra-exitosa-titulo {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: variables.$fontBebas;
        font-size: 6em;
        font-style: italic;
        color: variables.$mainLight;
    }

    .compra-exitosa-img {
        color: variables.$mainGreen;
        font-size: 6em;
        text-align: center;
        padding-bottom: 20px;
    }

    .compra-exitosa-texto {
        text-transform: uppercase;
        color: variables.$mainLight;
        font-family: variables.$fontArchivo;
        font-size: 4em;
        text-align: center;
        padding: 10px;
    }

    .compra-exitosa-numero {
        text-transform: uppercase;
        color: variables.$mainYellow;
        font-family: variables.$fontStaat;
        font-size: 5em;
        text-align: center;
        padding: 10px;
        letter-spacing: 2px;
    }
}