// FUENTES
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kanit:ital@1&family=Oswald&family=Staatliches&family=Teko:wght@500&family=VT323&family=Archivo+Black&family=Alfa+Slab+One&family=Rubik&display=swap');

$fontArchivo: 'Archivo Black', sans-serif;

$fontAlfa: 'Alfa Slab One', cursive;

$fontBebas: 'Bebas Neue', cursive;

$fontFjalla: 'Fjalla One', sans-serif;

$fontKanit: 'Kanit', sans-serif;

$fontOswald: 'Oswald', sans-serif;

$fontRubik: 'Rubik', sans-serif;

$fontStaat: 'Staatliches', cursive;

$fontTeko: 'Teko', sans-serif;

$fontVT: 'VT323', monospace;

// PALETA DE COLORES
$mainDark: #14080E;

$subDark: #08140E;

$mainLight: #F3F3F3;

$mainRed: #F71735;

$mainBlue: #3066BE;

$mainYellow: #ECA72C;